* {
    box-sizing: border-box;
    position: static;
    text-align: start;
    justify-content: space-between;
    font-size: 4vw;
    font-family: 'Inika', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Titillium Web', sans-serif;
    color: rgba(43, 255, 0, 0.635);
}
body {
    margin: auto;
    max-width: 70vw;
    font-size: 1.2em;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    padding: 0;
    margin: 0;
}
p {
    display: flex;
    margin: 0;
    padding: 0;
}
.meme0 {
    content: url(./assets/img/7ct4hc0.png);
}
.meme1 {
    content: url(./assets/img/7ct4hc1.png);
}
.meme2 {
    content: url(./assets/img/7ct4hc2.png);
}
.meme3 {
    content: url(./assets/img/7ct4hc3.png);
}

#accordion li {
    list-style: none;
}
#accordion input[type='radio'] {
    display: none;
}

#accordion .img-meme {
    max-height: 0;
    overflow: hidden;
    transition: all 0.6s ease;
}

#accordion input[type='radio']:checked + label .img-meme {
    max-height: 5em;
}

.open-close {
    display: none;
    transition: all 0.5s ease;
}


@media (hover: hover) and (pointer: fine) {
    #accordion li {
        cursor: pointer;
    }
    #accordion li label {
        cursor: pointer;
    }
    .open-close {
        display: inline;
    }
    #accordion input[type='radio']:checked + label > p > .open-close,
    #accordion input[type=radio]:hover + label > p > .open-close,
    #accordion input[type='radio'] + label ~ .img-meme:hover ~ .open-close  { 
        rotate: 135deg;
        translate: 0.1rem 0.2rem ;
    }
    ul li label > p > span:hover {
        rotate: 135deg;
        translate: 0.1rem 0.2rem ;
    }
    
    #accordion input[type='radio'] + label .img-meme:hover,
    #accordion input[type='radio']:hover + label .img-meme {
        max-height: 5em;
    }
    #accordion input[type=radio]:hover + label > p > .open-close {
        rotate: 135deg;
        translate: 0.1rem 0.2rem ; 
    }

}
@media (min-width:490) {   .element:hover{ .... } }
